@import '../css/bootstrap.css';
@import '../css/bootstrap-theme.css';
/*
on launch use these
@import 'bootstrap';
@import 'bootstrap-theme.css';
*/
@mixin transition($transition) { -webkit-transition:$transition; -moz-transition:$transition; -o-transition:$transition; transition:$transition; }



/*Document*/
html { height:100%; }
body { height:100%; background:url('../img/bg-clouds.jpg') center top repeat-x; }
a { color:#407fdc; @include transition(all 0.1s ease-in); }
a:hover { color:#4172b9; text-decoration:none; }
.jumbotron {
	text-align:center; background:none; color:#fff; text-shadow:0 3px 0 rgba(0,0,0,0.2);
	p { color:#333; text-shadow:none; }
}

.view-icons {
	text-align:center; font-size:100px; color:#ccc; text-shadow:0 3px 0 rgba(0,0,0,0.2);
	a { margin:0 7px; }
}